@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap');





.blog-container {
  font-family: 'Roboto', sans-serif;
  width: 650px;
  height: 460px;
  padding: 20px 0;
  background-color: rgb(214, 214, 214);
  float: left;
  margin-top: 75px;
  border-radius: 0 5px 5px 0px;
  display: flex;
}
.full-blog {
  width: 100%;
  height: auto;
  
  overflow-x: hidden;
}
.full-blog h2{
    width: 100%;
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
    text-align: center;
    color: rgb(58, 58, 58);
}


.blog-one{
  width: 90%;
  height: 360px;
  display: flex;
  justify-content: center;
  margin: 0 40px;
  margin-bottom: 20px;
}

/* 1st blog */


.first-blog {
  width: 50%;
  background-color: #fff;
  margin-right: 15px;
  border: 1px solid rgb(170, 170, 170);
  border-radius: 10px;
}
.first-blog img{
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
}
.first-blog p{
    
    text-align: justify;
    line-height: 20px;
    color: rgb(58, 58, 58);
    padding: 10px;
}
.first-blog h4{
    
    color: rgb(58, 58, 58);
    
    font-size: 18px;
    padding: 10px 10px 0px 10px;
    text-align: center;
}
.first-blog span{
    margin-left: 27%;
    border: 1px solid rgb(5, 94, 74);
    color: rgb(5, 94, 74);
    padding: 5px;
    border-radius: 5px;
}


/* 2nd blog */

.second-blog {
    width: 50%;
    background-color: #fff;
    margin-right: 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
  }
  .second-blog img{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
  }
  .second-blog p{
    
      text-align: justify;
      line-height: 20px;
      color: rgb(58, 58, 58);
      padding: 10px;
  }
  .second-blog h4{
    
      color: rgb(58, 58, 58);
      font-size: 18px;
      padding: 10px 10px 0px 10px;
      text-align: center;
  }
  .second-blog span{
      margin-left: 27%;
      border: 1px solid rgb(5, 94, 74);
      color: rgb(5, 94, 74);
      padding: 5px;
      border-radius: 5px;
  }




  .blog-two{
    width: 90%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    margin-bottom: 20px;
  }


   /* third-blog  */


  .third-blog {
    width: 50%;
    background-color: #fff;
    margin-right: 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
  }
  .third-blog img{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
  }
  .third-blog p{
    
      text-align: justify;
      line-height: 20px;
      color: rgb(58, 58, 58);
      padding: 10px;
  }
  .third-blog h4{
    
      color: rgb(58, 58, 58);
      font-size: 18px;
      padding: 10px 10px 0px 10px;
      text-align: center;
  }
  .third-blog span{
      margin-left: 27%;
      border: 1px solid rgb(5, 94, 74);
      color: rgb(5, 94, 74);
      padding: 5px;
      border-radius: 5px;
  }

  /* Fourth blog */


  .fourth-blog {
    width: 50%;
    background-color: #fff;
    margin-right: 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
  }


  .fourth-blog img{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
  }
  .fourth-blog p{
    
      text-align: justify;
      line-height: 20px;
      color: rgb(58, 58, 58);
      padding: 10px;
  }
  .fourth-blog h4{
      color: rgb(58, 58, 58);
      
      font-size: 18px;
      padding: 10px 10px 0px 10px;
      text-align: center;
  }
  .fourth-blog span{
      margin-left: 32%;
      border: 1px solid rgb(5, 94, 74);
      color: rgb(5, 94, 74);
      padding: 5px;
      border-radius: 5px;
  }



  .blog-three{
    width: 90%;
    height: 360px;
    display: flex;
    justify-content: center;
    margin: 0 40px;
    margin-bottom: 20px;
  }

  /* five blog */

  .five-blog {
    width: 50%;
    background-color: #fff;
    margin-right: 15px;
    border: 1px solid rgb(170, 170, 170);
    border-radius: 10px;
  }
  .five-blog img{
      width: 100%;
      margin-bottom: 5px;
      border-radius: 10px 10px 0px 0px;
  }
  .five-blog p{
    
      text-align: justify;
      line-height: 20px;
      color: rgb(58, 58, 58);
      padding: 10px;
  }
  .five-blog h4{
      color: rgb(58, 58, 58);
      
      font-size: 18px;
      padding: 10px 10px 0px 10px;
      text-align: center;
  }
  .five-blog span{
      margin-left: 32%;
      border: 1px solid rgb(5, 94, 74);
      color: rgb(5, 94, 74);
      padding: 5px;
      border-radius: 5px;
  }


  .design{
    margin: 15px;
    padding: 25px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    color: rgb(58, 58, 58);
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgb(170, 170, 170);

}
.all-design{
    padding-bottom: 5px;
}
.all-design h2{
    margin: 20px 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(170, 170, 170);
}




@media (max-width: 1320px){
    .blog-container {
      width: 90%;
      height: 1%;
      margin-left: 5%;
      border-radius: 5px;
    }
    }

    @media (max-width: 768px){
        .blog-one, .blog-two, .blog-three{
            width: 100%;
            display: block;
            height: auto;
            margin: 0 0;
        }
        .first-blog, .second-blog, .third-blog, .fourth-blog, .five-blog {
            width: 90%;
            margin: 5%;
        }
        .first-blog span, .second-blog span, .third-blog span, .fourth-blog span, .five-blog span{
            display: flex;
            justify-content: center;
            margin-left: 0;
        }
    }